---
import { Card, CardContent } from "@/components/ui/card";
import { Image } from "astro:assets";
import { PhGitFork } from "phosphor-icons-astro";
import coinsavorImage from "../../assets/images/coinsavor.png";
import sumanizeImage from "../../assets/images/sumanize.png";

const projectData = [
  {
    name: "Coinsavor",
    image: coinsavorImage,
    alt: "Coinsavor",
    contributeUrl: "https://github.com/armancurr/coinsavor",
  },
  {
    name: "Sumanize",
    image: sumanizeImage,
    alt: "Sumanize",
    contributeUrl:
      "https://github.com/kalviumcommunity/S65_Arman_Capstone_Sumanize",
  },
];
---

<div class="space-y-2">
  {
    projectData.map((project) => (
      <Card className="border-2 border-neutral-800 bg-neutral-950 transition-colors duration-200 hover:border-neutral-700">
        <CardContent className="space-y-2">
          <div class="relative aspect-square overflow-hidden rounded-md">
            <Image
              src={project.image}
              alt={project.alt}
              class="h-full w-full object-cover"
              width={700}
              height={700}
            />
          </div>
          <div class="mt-4 flex flex-row gap-2">
            <button
              class="flex w-full items-center justify-center gap-1.5 rounded-md border-2 border-neutral-700 bg-transparent px-2 py-1.5 text-xs font-medium text-neutral-300 transition-colors duration-200 hover:border-neutral-600 hover:bg-neutral-800"
              onclick={`window.open('${project.contributeUrl}', '_blank')`}
            >
              <PhGitFork size={12} weight="fill" />
              View Source
            </button>
          </div>
        </CardContent>
      </Card>
    ))
  }
</div>
