---
import {
  PhPenNib,
  PhBracketsCurly,
  PhDatabase,
  PhSpeedometer,
  PhGitFork,
} from "phosphor-icons-astro";

const skills = [
  { icon: PhBracketsCurly, label: "Full-stack Development" },
  { icon: PhPenNib, label: "UI Design" },
  { icon: PhDatabase, label: "DevOps" },
  { icon: PhSpeedometer, label: "Web Performance" },
  { icon: PhGitFork, label: "Open Source Contributions" },
];
---

<div
  class="rounded-lg border-2 border-neutral-800 bg-neutral-950 transition-colors duration-200 hover:border-neutral-700 md:col-span-2 lg:col-span-2"
>
  <div class="p-8">
    <div class="space-y-4">
      <div class="flex items-start justify-between">
        <div class="space-y-4">
          <img
            src="/images/luca-giordano.jpg"
            alt="Profile"
            class="h-20 w-20 rounded-md border-2 border-neutral-700"
          />
          <h1 class="text-4xl font-semibold text-neutral-200">
            arman <span class="text-sm text-neutral-500">(uhrr-maan curr)</span>
          </h1>
        </div>
      </div>
      <div class="space-y-8">
        <p class="text-lg leading-relaxed text-neutral-200">
          I'm a software developer specializing in detailed UI design to deliver
          fast, smooth, and engaging experiences.
        </p>
        <div class="flex cursor-default flex-wrap items-center gap-2">
          {
            skills.map(({ icon: Icon, label }) => (
              <div class="flex items-center gap-2 rounded-md border-2 border-neutral-800 bg-neutral-950 px-3 py-2 text-sm font-medium text-neutral-400 transition-colors duration-200 hover:bg-neutral-900">
                <Icon size={16} weight="bold" />
                {label}
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
