---
import { Card, CardContent } from "@/components/ui/card";
---

<Card
  className="border-2 border-neutral-800 bg-neutral-950 transition-colors duration-200 hover:border-neutral-700"
>
  <CardContent className="p-2">
    <div class="flex flex-col items-center justify-center space-y-2 px-4">
      <div
        class="flex w-full flex-col items-center justify-center rounded-lg p-3 text-neutral-400 transition-all duration-200 hover:text-neutral-200"
      >
        <svg
          class="mb-2 h-6 w-6"
          viewBox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
          fill-rule="evenodd"
          clip-rule="evenodd"
          stroke-linejoin="round"
          stroke-miterlimit="2"
          ><g transform="translate(.722 .64) scale(6.375)"
            ><circle cx="40" cy="40" r="40" fill="currentColor"></circle><path
              d="M66.448 70.009L30.73 24H24v31.987h5.384v-25.15l32.838 42.427a40.116 40.116 0 004.226-3.255z"
              fill="url(#prefix___Linear1)"
              fill-rule="nonzero"></path><path
              fill="url(#prefix___Linear2)"
              d="M51.111 24h5.333v32h-5.333z"></path></g
          ><defs
            ><linearGradient
              id="prefix___Linear1"
              x1="0"
              y1="0"
              x2="1"
              y2="0"
              gradientUnits="userSpaceOnUse"
              gradientTransform="rotate(51.103 -29.93 76.555) scale(25.1269)"
              ><stop offset="0" stop-color="#fff"></stop><stop
                offset="1"
                stop-color="#fff"
                stop-opacity="0"></stop></linearGradient
            ><linearGradient
              id="prefix___Linear2"
              x1="0"
              y1="0"
              x2="1"
              y2="0"
              gradientUnits="userSpaceOnUse"
              gradientTransform="rotate(90.218 14.934 38.787) scale(23.50017)"
              ><stop offset="0" stop-color="#fff"></stop><stop
                offset="1"
                stop-color="#fff"
                stop-opacity="0"></stop></linearGradient
            ></defs
          ></svg
        >
        <span class="text-center text-xs">Next.js for full-stack apps</span>
      </div>
      <div
        class="flex w-full flex-col items-center justify-center rounded-lg p-3 text-neutral-400 transition-all duration-200 hover:text-neutral-200"
      >
        <svg
          class="mb-2 h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          shape-rendering="geometricPrecision"
          text-rendering="geometricPrecision"
          image-rendering="optimizeQuality"
          fill-rule="evenodd"
          clip-rule="evenodd"
          viewBox="0 0 410 512.32"
          ><path
            fill="currentColor"
            fill-rule="nonzero"
            d="M0 335.49s69.19-33.61 138.56-33.61l52.31-161.48c1.96-7.81 7.68-13.12 14.13-13.12 6.46 0 12.17 5.31 14.13 13.12l52.31 161.48c82.17 0 138.56 33.61 138.56 33.61S292.49 16.16 292.26 15.52C288.88 6.08 283.19 0 275.51 0H134.5c-7.68 0-13.14 6.08-16.74 15.52C117.5 16.15 0 335.49 0 335.49zm127.25 94.89c-25.3-22.82-32.69-70.78-22.15-105.52 18.28 21.9 43.6 28.84 69.84 32.76 40.49 6.04 80.27 3.78 117.89-14.48 4.3-2.09 8.28-4.87 12.98-7.69 3.53 10.1 4.45 20.31 3.22 30.69-3 25.29-15.76 44.83-36.04 59.64-8.11 5.92-16.69 11.21-25.07 16.8-25.74 17.16-32.7 37.29-23.03 66.57.23.71.43 1.43.95 3.17-13.14-5.81-22.74-14.26-30.05-25.37-7.72-11.72-11.4-24.69-11.59-38.73-.1-6.83-.1-13.72-1.03-20.45-2.27-16.42-10.08-23.77-24.79-24.19-15.1-.43-27.05 8.78-30.21 23.28-.25 1.12-.6 2.21-.95 3.51l.03.01z"
          ></path></svg
        >
        <span class="text-center text-xs">Astro for performance</span>
      </div>
      <div
        class="flex w-full flex-col items-center justify-center rounded-lg p-3 text-neutral-400 transition-all duration-200 hover:text-neutral-200"
      >
        <svg
          class="mb-2 h-6 w-6"
          fill="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          xml:space="preserve"
          ><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 6.036c-2.667 0-4.333 1.325-5 3.976 1-1.325 2.167-1.822 3.5-1.491.761.189 1.305.738 1.906 1.345C13.387 10.855 14.522 12 17 12c2.667 0 4.333-1.325 5-3.976-1 1.325-2.166 1.822-3.5 1.491-.761-.189-1.305-.738-1.907-1.345-.98-.99-2.114-2.134-4.593-2.134zM7 12c-2.667 0-4.333 1.325-5 3.976 1-1.326 2.167-1.822 3.5-1.491.761.189 1.305.738 1.907 1.345.98.989 2.115 2.134 4.594 2.134 2.667 0 4.333-1.325 5-3.976-1 1.325-2.167 1.822-3.5 1.491-.761-.189-1.305-.738-1.906-1.345C10.613 13.145 9.478 12 7 12z"
          ></path></svg
        >
        <span class="text-center text-xs">Tailwind for rapid styling</span>
      </div>
      <div
        class="flex w-full flex-col items-center justify-center rounded-lg p-3 text-neutral-400 transition-all duration-200 hover:text-neutral-200"
      >
        <!-- Convex icon will go here -->
        <div class="mb-2 h-6 w-6 rounded bg-neutral-600"></div>
        <span class="text-center text-xs">Convex for backend</span>
      </div>
      <div
        class="flex w-full flex-col items-center justify-center rounded-lg p-3 text-neutral-400 transition-all duration-200 hover:text-neutral-200"
      >
        <svg
          class="mb-2 h-6 w-6"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><path d="M12 1L24 22H0L12 1Z" fill="currentColor"></path></svg
        >
        <span class="text-center text-xs">Vercel for deployment</span>
      </div>
    </div>
  </CardContent>
</Card>
