---
import Main from "../layouts/main.astro";
import Header from "../components/layout/header.astro";
import Hero from "../components/sections/hero.astro";
import Experience from "../components/sections/experience.astro";
import TechStack from "../components/sections/tech-stack.astro";
---

<Main title="armancurr - personal website">
  <Header slot="header" />
  <main>
    <Hero />
    <!-- <Experience /> -->
    <TechStack />
  </main>
</Main>
