---
import Main from "../layouts/main.astro";
import Header from "../components/layout/header.astro";
import Hero from "../components/sections/hero.astro";
import Experience from "../components/sections/experience.astro";
import Testimonials from "../components/sections/testimonials.astro";
import TechStack from "../components/sections/tech-stack.astro";
---

<Main title="Keshav Bagaade - Design Engineer">
  <Header />
  <main>
    <Hero />
    <Experience />
    <TechStack />
    <Testimonials />
  </main>
</Main>
