---
import Main from "../layouts/main.astro";
import Header from "../components/layout/header.astro";
import ProjectGrid from "../components/project/project-grid.astro";
---

<Main title="Projects - Keshav Bagaade">
  <Header />
  <main>
    <ProjectGrid />
  </main>
</Main>
