---
import Main from "../layouts/main.astro";
import Header from "../components/layout/header.astro";
import ProjectGrid from "../components/project/project-grid.astro";
---

<Main title="armancurr - projects">
  <Header slot="header" />
  <main>
    <ProjectGrid />
  </main>
</Main>
