@import "tailwindcss";

* {
  font-family: "Public Sans", sans-serif;
}

:root {
  /* Vesper Color Theme */
  --background: #101010; /* Main Background */
  --text-primary: #ffffff; /* Editor Foreground */
  --text-secondary: #a0a0a0; /* Comments / Sidebar Foreground */
  --text-muted: #505050; /* Line Numbers / Subtle Text */
  --text-accent: #ffc799; /* Vesper Peach (Links / Focus) */
  --text-code: #99ffe4; /* Vesper Mint (Strings / Code) */
  --background-hover: #282828; /* List Hover Background */
  --border-subtle: #232323; /* Splitter / Widget Borders */
}

.prose {
  color: var(--text-secondary);
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: var(--text-primary);
  font-weight: 500;
}

.prose strong {
  color: var(--text-primary);
}

.prose a {
  color: var(--text-accent); /* Peach */
  text-decoration: none;
  transition: color 0.2s;
}

.prose a:hover {
  color: var(--text-primary); /* White on hover */
}

.prose code {
  color: var(--text-code); /* Mint */
  background: #1c1c1c; /* Input Background */
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

.prose pre {
  background: #161616; /* Slightly lighter than main bg (Tab Active) */
  border: 1px solid var(--border-subtle);
}

.prose blockquote {
  border-left: 2px solid var(--text-accent); /* Peach Border */
  color: var(--text-secondary);
  font-style: italic;
}
